* {
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* NAVBAR */
.navbar {
  background: #0f1111;
  color: white;
  display: flex;
  align-items: center;
  padding: 10px 15px;
}

.logo {
  width: 100px;
  height: 40px;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 15px;
}

.address .small {
  font-size: 12px;
  color: #ccc;
}

.nav-search {
  display: flex;
  flex: 1;
  margin: 0 20px;
}

.nav-search select,
.nav-search input {
  height: 40px;
  border: none;
}

.nav-search select {
  padding: 0 10px;
}

.nav-search input {
  flex: 1;
  padding: 0 10px;
}

.nav-search button {
  width: 45px;
  background: #febd69;
  border: none;
  cursor: pointer;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-box {
  display: flex;
  flex-direction: column;
}

.small {
  font-size: 12px;
  color: #ccc;
}

.nav-cart {
  position: relative;
}

.cart-count {
  position: absolute;
  top: -5px;
  left: 12px;
  background: orange;
  color: black;
  padding: 2px 6px;
  border-radius: 50%;
  font-size: 12px;
}

/* SUB NAV */
.sub-nav {
  background: #232f3e;
  color: white;
  padding: 8px 15px;
  display: flex;
  gap: 20px;
}

/* BANNER */
.banner img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

/* PRODUCTS */
.products {
  background: #e3e6e6;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.product-card {
  background: white;
  padding: 15px;
}

.product-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin: 10px 0;
}
